div img{
	margin-top: .7%;
	margin-left: 11%;
}
div ul li a, input{
	color: black;
}
div div div div h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}
div div div div h5{
	font-family: 'Montserrat', sans-serif;
	font-size: .8em;
}
div div div div #card1, div #card2, div #card3{
	display: inline-block;
}
form div img{
	margin: 0;
}
div h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	margin-right: 57%;
}
img{
	margin-left: 18%;
}
div form ul li a{
	color: white;
}
main {
	flex: 1 0 auto;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}